{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": false,
  "endOfLine": "lf",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "newline-before-return": true,
  "no-duplicate-variable": [true, "check-parameters"],
  "no-var-keyword": true,
  "printWidth": 120,
  "tabWidth": 2
}